[submodule "teaMancala"]
	path = teaMancala
	url = https://github.com/taniacao12/teaMancala
[submodule "mancala"]
	path = mancala
	url = https://github.com/taniacao12/mancala
[submodule "handshake"]
	path = handshake
	url = https://github.com/taniacao12/handshake
[submodule "forking_server"]
	path = forking_server
	url = https://github.com/taniacao12/forking_server
[submodule "persistent_server"]
	path = persistent_server
	url = https://github.com/taniacao12/persistent_server
[submodule "semaphone"]
	path = semaphone
	url = https://github.com/taniacao12/semaphone
[submodule "shmegegge"]
	path = shmegegge
	url = https://github.com/taniacao12/shmegegge
[submodule "shell"]
	path = shell
	url = https://github.com/taniacao12/shell
[submodule "forkin"]
	path = forkin
	url = https://github.com/taniacao12/forkin
[submodule "parse_args"]
	path = parse_args
	url = https://github.com/taniacao12/parse_args
[submodule "signals"]
	path = signals
	url = https://github.com/taniacao12/signals
[submodule "randfile"]
	path = randfile
	url = https://github.com/taniacao12/randfile
[submodule "sieve"]
	path = sieve
	url = https://github.com/taniacao12/sieve
[submodule "myTunez"]
	path = myTunez
	url = https://github.com/taniacao12/myTunez
[submodule "list"]
	path = list
	url = https://github.com/taniacao12/list
[submodule "array_swap"]
	path = array_swap
	url = https://github.com/taniacao12/array_swap
[submodule "euler"]
	path = euler
	url = https://github.com/taniacao12/euler
[submodule "pointy"]
	path = pointy
	url = https://github.com/taniacao12/pointy
